{% extends 'registration.html'%}

{% block nosaukums %} Messages {% endblock %}

{% block saturs %}
<form method="post">
  <select id="user_id" name="user_id">
    <option value="" selected></option>
    {% for one in user %}
      <option value="{{one[0]}}">{{one[1]}}</option>
    {% endfor %}    
  </select>
  <textarea id="text" name="text" rows="4" cols="50" placeholder="Write text here"></textarea>
  <input type="submit" value="Add message">
  <h3>{{error}}</h3>
  <table class="table">
      <tr>
        <th>User</th>
        <th>Message</th>
      </tr>
        {% for one in message %}    
          <tr>
            <td>{{one[0]}} {{one[1]}}</td>
            <td>{{one[2]}}</td>
          </tr>
        {% endfor %}
  </table>
</form>    
{% endblock %}
